body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;

  background-size: 300% 100%; /* Make the gradient longer */
  animation: moveGradient 8s infinite linear;
  overflow: visible;
}
.online {
  background: linear-gradient(
    90deg,
    #007211,
    #098400,
    #00a01b,
    #00c62b,
    #0dff00
  );
}
.offline {
  background: linear-gradient(
    90deg,
    #6c0000,
    #a00000,
    #b70000,
    #d80000,
    #ff0000
  );
}
.logo {
  height: 80px;
  width: 80px;
  position: relative;
  left: 20%;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  } /* Moves to the right fully */
  100% {
    background-position: 0% 50%;
  } /* Moves back smoothly */
}

.nav-items > * {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 40px;
  font-size: 24px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}
.nav-items > ul :hover {
  background: linear-gradient(to right, rgb(64, 255, 0), rgb(217, 255, 0) , red);
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  animation: colorMove 3s infinite linear;
}

@keyframes colorMove {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.nav-items > ul > li > * {
  text-decoration: none;
  color: white;
}

.res-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.res-card:hover {
  border: 1.5px solid rgba(0, 0, 0, 0.279);
  /* cursor: pointer; */
  transition: all 0.1s ease-in-out;

  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 255, 0.4);
}
.search {
  padding: 10px;
}
.search :focus {
  outline: none;
}

.res-img {
  width: 55%;
  height: 30%;
  position: relative;
}
.res-card-content {
  width: 13.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.res-card-content > * {
  white-space: nowrap;
  font-size: medium;
}

.ratings {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.ratings :first-child {
  padding: 5px;
  background-color: rgb(0, 188, 0);
  color: white;
}
.res-card p {
  color: rgba(0, 0, 0, 0.53);
  font-size: 12px;
}

.restro-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.restro-box {
  width: 40vw;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: black;
  text-decoration: none;
}

.filter-btn {
  /* padding: 10px; */
  margin: 10px;
  cursor: pointer;
}
.content {
  text-align: center;
  height: 20vh; /* Use vh for a consistent height */
  width: 30vw;
  overflow: auto; /* Allow vertical scrolling */
  white-space: normal; /* Ensure text wraps */
}

.shimmer-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.shimmer-wrapper > * {
  height: 50vh;
  width: 45%;
  margin: 10px;
  background-color: #f0f0f0;
}

.login {
  padding: 10px 20px;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 0.8),
    rgba(0, 0, 180, 0.8)
  );
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 200, 0.9),
    rgba(0, 0, 150, 0.9)
  );
  transform: scale(1.09);
  box-shadow: 0px 4px 15px rgba(0, 0, 255, 0.4);
}

.filter {
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  position: relative;
  bottom: 12.6vh;
  left: 15vw;
}
.filter > * {
  text-decoration: none;
  color: white;
  background: #f0f0f000;
  border: 0.5px dashed white;
}
.filter :first-child {
  border: none;
}
.filter :first-child button {
  background-color: #f0f0f000;
  border: 0.5px dashed white;
  position: relative;
  left: 5%;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single {
  height: max-content;
  width: 50%;
}

.body {
  height: 80vh;
  width: 100vw;
}

.body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
  overflow: hidden;
}
